<style>
    .container {width: 100%; margin: auto;}
    @media(min-width:600px) {.container{width: 80%;}}
    @media(min-width:768px) {.container{width: 60%;}}
    @media(min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
    <img src="https://zh.wikipedia.org/zh-cn/%E5%85%A8%E5%9C%93%E4%BD%91#/media/File:230113_WONWOO.jpg"
     width="300" height="200">
    <form action="/main" method="post">
        <p><h2>Welcome to Hugging Face Ethical Test, my name is Thousand Ask. May I know your name? </h2></p>
        <p><input type ="text" name="name"></p>
        <p><input type="submit" value="Enter"></p>
    </form>
